@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: grey; */
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.dropShadow {
  filter: drop-shadow(5px 5px 150px var(--drop-shadow));
}

h1,
h2 {
  /* font-family: "ArsenicaTrial", serif; */
  font-weight: 600;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  line-height: 1;
  text-align: center;
  color: var(--color-h1);
}

h2 {
  font-size: clamp(1rem, 4vw, 2rem);
  line-height: 1.15;
}

h3,
h4,
h5,
h6,
p {
  /* font-family: var(--font-primary); */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.95rem); /* 20px to 24px */
  font-weight: 700;
}

h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem); /* 20px to 24px */
  font-weight: 700;
}

h5 {
  font-size: clamp(1.25rem, 2.5vw, 1.625rem); /* 20px to 26px */
  font-weight: 350;
}

h6 {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem); /* 14px to 18px */
  font-weight: 300;
}

p {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem); /* 14px to 18px */
  font-weight: 300;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* my styles */

    --drop-shadow: #ede4e4;
    --color-h1: #000;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
    /* my styles */

    --drop-shadow: #181717;
    --color-h1: #fff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-color {
    @apply text-black dark:text-white;
  }
}

@layer base {
  h1 {
    @apply font-bold; /* Keeps the font bold */
    font-size: 2rem; /* Default size for small screens */
    @screen sm {
      font-size: 2.5rem; /* Small screens (sm) */
    }
    @screen md {
      font-size: 4rem; /* Large screens (lg) */
    }
    @screen lg {
      font-size: 4rem; /* Large screens (lg) */
    }
    @screen xl {
      font-size: 4rem; /* Large screens (lg) */
    }
    @screen 2xl {
      font-size: 4rem; /* Large screens (lg) */
    }
  }
}
